<h1><u>Movie Details</u></h1>
<table>
    <body>
<tr>
    <td>
        <div class = "poster">
        <img src="<%= @movie.image_link %>"" alt=""> </div>
    </td>
    <td>
        <h2><%= @movie.title %></h2> 
        <p><b>Genre: </b><%= @movie.genre.name %></p>
        <p><b>Year Released: </b><%= @movie.year_released %></p>
        <p><b>Description: </b><%= @movie.description %></p>
    </td>
    </tr>
</body>
</table>

<b>Add this movie to one of my watchlists:</b>
<%= form_tag({controller: "watchlists", action: "add_to_watchlist", method: "post"}) do %>
<%= select_tag "watchlist[watchlist_id]", options_from_collection_for_select(current_user.watchlists.all, :id, :name), {include_blank: true} %>

<%= hidden_field_tag "watchlist[movie_id]", @movie.id %>
<%= submit_tag("Add to Watchlist") %>
<% end %>
<br>
<button><%= link_to "Return to Movie List", movies_path %></button>




<% if current_user.admin? %>
<button><%= link_to "Edit movie", edit_movie_path(@movie) %></button>
<% end %>

<b><h3>User Comments:</h3></b>
<% if @movie.comments.count == 0 %>
    Be the first to comment on this movie!
<% end %>
   <ul>
       <% @movie.comments.each do |comment| %>
       <li>
       <b><%= comment.content %></b> <br>by: <%= comment.user.name %> on <%= comment.updated_at.strftime("%B %e, %Y at %l:%M%P") %> ET
       <br><br>
    </li>
    <% end %>
</ul>
<div class="custom-alert"><%=flash[:notice] %></div>
    <%= form_tag({controller: "comments", action: "create"}, method: "post") do %>
    <b><%= label_tag(:comment, "Enter your comment:") %></b><br>
    <%= text_area_tag :content, nil, size: "55x4" %> <br>
    <%= hidden_field_tag "movie_id", @movie.id %>
    <%= submit_tag("Submit my comment") %>
    <% end %>
