<h1>Here are the movie details!</h1>

<h2><b>Title: </b><%= @movie.title %></h2>
<p><b>Description: </b><%= @movie.description %></p>
<p><b>Genre: </b><%= @movie.genre.name %></p>
<p><b>Year Released: </b><%= @movie.year_released %></p>

<h2><b>
    Comments:
</b></h2>
<ul>
    <li>
<% raise params.inspect %>
<% @movie.comments.each do |comment| %>

<%= comment.content %> 
<p>By: <%= comment.user %> - <%= comment.created_at %>
</li>
<% end %>
</ul>
