<h2>Edit User: <%= @user.name %></h2>

<% if @user.errors.any? %>
    <div id = "error explanation">
        <h3>There were some errors:</h3>
        <ul>
            <%@user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
        </ul>
    </div>
    <% end %>

<%= form_for @user do |f| %>

<div class="field<%=' field_with_errors' if @user.errors[:name].any? %>">
<p><%= f.label :name %><br>
<%= f.text_field :name %></p>
</div>

<div class="field<%=' field_with_errors' if @user.errors[:email].any? %>">
<p><%= f.label :email %><br>
<%= f.text_field :email %></p>
</div>

<div class="field<%=' field_with_errors' if @user.errors[:password].any? %>">
<p><%= f.label :password %><br>
<%= f.password_field :password %></p>
</div>

<p><%= f.label :admin, 'Are you an admin?' %>
<%= f.check_box :admin %></p>

<%= f.submit "Edit user account" %>
    
<% end %>