<%=flash[:success] %>

<h2>Hello, <%=@user.name %></h2>
 
Email: <%= @user.email %>


<%= link_to "List of Movies", movies_path, class: "button" %>
<% if logged_in? && current_user.admin %>
    <%= link_to "List of Users", users_path, class: "button" %>
<% end %>