<%=flash[:success] %>

<h2>Hello, <%=@user.name %></h2>
 
Email: <%= @user.email %>
<br><br>

<button><%= link_to "List of Movies", movies_path %></button>

<% if logged_in? && current_user.admin %>
    <button><%= link_to "List of Users", users_path %></button>
<% end %>

<br><br>

<b>My Watchlists </b>
<button><%= link_to "Create New Watchlist", new_user_watchlist_path(:user_id) %></button>
<ul>
<% @user.watchlists.each do |watchlist| %>
<li><%= link_to watchlist.name, user_watchlist_path(watchlist) %></li>

<% end %></ul>
