<!DOCTYPE html>
<html>
  
<head>
  <title>CINOPHILE</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
</div>
<body>
<header>
  <div class="container header nav">
    <b>CINOPHILE</b>
  <a class="nav" href="<%= root_url %>">Home</a>
  <% if !logged_in? %>
      <a class="nav" href="<%= signup_url %>">Sign Up</a>
      <a class="nav" href="<%= signin_url %>">Log In</a>
      <%= link_to "Log In With Facebook", '/auth/facebook', class: "nav", :method => "post" %>
      <%= link_to "Log In With Google", '/auth/google_oauth2', class: "nav", :method => "post" %>

      <% else %>
            <a class="nav" href="<%= user_path(current_user) %>"><%=current_user.name %>'s Profile</a>
            <a class="nav" href="<%= logout_path %>">Log Out</a>
        <% end %>
      </div>
</header>
<%= yield %>

</body>
</html>